.app {
  border: 2px solid #333333;
  border-radius: 2px;
  box-shadow: 2px 2px 1px #999999;
  height: calc(100vh - 16px);
  display: flex;
  align-items: stretch;
  flex-direction: column;
  > * {
    flex: 1;
  }
  > :first-child,
  > :last-child {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 80px;
  }
}
